<script type='text/javascript'>
$(function() {
  $('.datepicker').datepicker();
  $(".datepicker").datepicker('setDate', new Date());
});
</script>


<div>
<h3> Edit Leaves </h3>
<div class="errors">
The following are the error messages.
<%= render 'shared/error_messages' %>
</div>
</div>
<% @leavedate = current_user.leavedates.build %>
<%= form_for(@leavedate) do |f| %>
	
  <div class="field">
    <%= f.text_field :date, :class => "datepicker" , values: Date.today.strftime( "%m/%d/%Y" ), autofocus: true%>
  </div>
  <div><%= f.label :description %><br />
  <%= f.text_area :description, autofocus: true, placeholder: "Add description..." %></div>

  <%= f.submit "Add Leave", class: "btn btn-large btn-primary" %>
<% end %>
